/* Title css*/
#title{
    text-align: center;
    font-size: 600%;
    font-style: italic;
    font-weight: bold;
}


/* Navigation Bar CSS */
.navbar{
    background-color: lightsteelblue;
}

li.navi:hover{
    background-color: lightslategrey;
}

li.navi.active{
    background-color: lightslategrey;
}


/* Search Bar CSS */
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


/* Page CSS */
body {
    /* General layout of the site */
    padding-top: 5px; /* Gap between top and start of page */
    background-color: lightsteelblue; /* Colour of the site */
    font-family: "Verdana", Times, serif; /* Font of the site */
}


a.tbl{
    /* Tabs when inactive */
    color: black; /* Colour of text in tab when inactive */
    background-color: grey; /* Colour of tab when inactive */
}

a.tbl:hover{
    /* Tabs when active */
    color: black; /* Colour of text on tab when hovered over */
    background-color: lightgrey; /* Colour of tab when hovered */
}

.header{
    /* Header layout used for axles */
    text-align: center; /* Text location */
    font-weight: bold; /* Text bolded */
    padding-top: 5px; /* Padding on top */
    padding-bottom: 5px; /* Padding on bottom */
    font-size: 40px; /* Size of the text */
    background-color: darkgrey; /* Header background */
    color: white; /* Colour of text */
}

.car_part{
    /* Header layout used for car part */
    text-align: center; /* Text location */
    font-weight: bold; /* Text bolded */
    padding-top: 10px; /* Padding on top */
    padding-bottom: 10px; /* Padding on bottom */
    font-size: 25px; /* Size of the text */
    background-color: dimgrey; /* Header background */
    color: white; /* Colour of text */
}

.container-fluid{
    /* Contains the table */
    padding-left: 50px; /* Table left padding */
    padding-right: 50px; /* Table right padding */
}

.table {
    /* Table layout */
    margin:0; /* No margin */
    padding:25px; /* Padding size */
    border: 0; /* No border */
    border-collapse: collapse; /* Table collapses */
    width: 100%; /* Table fulls the space */
    background-color: lightgrey; /* Colour of background */
}

table td{
    /* Styling for each cell */
    padding-top: 10px; /* Padding at top */
    padding: 5px; /* Padding */
    text-align: center; /* Text location */
    border: 1px solid black; /* Boarder size and colour */
}

table th{
    /* Styling for each table head */
    border-bottom: 2px solid darkgrey; /* Border size and colour */
    text-align: center; /* Text location */
    text-transform: uppercase; /* Text is uppercase */
    padding: 5px; /* Padding size */
}

table tr {
    /* Styling for each row */
    padding: 5px; /* Padding size */
}

.table-header{
    /* Table header */
    font-size: medium; /* Text size */
    text-align: center; /* Text location */
    font-weight: bold; /* Text bolded */
    padding: 20px; /* Padding */
    text-decoration: underline darkgrey; /* Decoration (underline) */
}

.table-column-head{
    /* Head of the column */
    font-weight: bold; /* Font is bold */
}

.before{
    /* Before service */
    color: forestgreen; /* Colour of text in table */
}

.after{
    /* After service */
    color: forestgreen; /* Colour of text in table */
}

.maxwidth-title{
    /* Titles maxwidth */
    width: 150px;
}

.noRightBorder {
    /* No right border */
    border-right: None;
}

/* When width is more than 996px */
@media screen and (min-width: 996px){

    .table-no-underline {
        /* No underline in table */
    }

    .orientations{
        /* Width of items */
        width: 107px;
    }

    table.alignment td {
        /* Table alignment for each cell */
        border-right: 2px solid darkgrey; /* Right border colour and  */
    }

    .tgt{
        /* Width of target items */
        width: 250px;
    }

    .noRightBorder {
        /* No right border */
        border-right: None;
    }
}

/* When width is less than 995px */
@media screen and (max-width: 995px) {
    #title{
        font-size: 300%;
    }

    .nav-item{
        /* Navigation of items */
        background-color: gray; /* Colour */
    }

    .bottomTD{
        /* No border */
        border-bottom: none;
    }

    .underPadding {
        /* Padding size */
        padding-bottom: 30px;
    }

    table thead {
        /* Table header styling */
        display: none /* No header */
    }


    table tr {
        /* Styling for each row */
        display: block; /*1 element per line*/
        padding-top: 0px; /* No padding */
        padding-bottom: 0px; /* No padding */
    }

    table td {
        /* Styling for each cell */
        border-style: none;: 1px solid black; /* Where border is located */
        display: block; /* Gets displayed in block form */
        position: relative; /* Relative to the normal/original position */
        padding-bottom: 10px; /* Padding at bottom */
    }

    table td:first-child {
        /* First child */
        border-right: none; /* No border */
        border-top: None; /* No border */
    }

    table td:before {
        /* Before */
        border-right: none; /* No border */
        display: block; /* Displayed as block */
        content: attr(data-label); /* Conetent is the attributed data label */
        font-weight: bold; /* Bold font */
        position: absolute; /* Nearest position to its ancenstor */
        padding-top: 5px; /* Padding amount */
        padding-left: 5px; /* Padding amount */
        padding-right: 5px; /* Padding amount */
        padding-bottom: 10px; /* Padding amount */

    }

    table td:after{
        /* After */
        padding-bottom: 10px; /* Padding amount */
    }

    .formheader{
        padding-top: 56px; /* Padding on the top */
    }

    .noHeight{
        padding-top: 0px; /* No padding */
        padding: 0px; /* No padding */
        border-bottom: None; /* No border */
    }

    .background{
        background-color: lightgrey; /* Background colour */
    }

    .noShow {
        display: None; /* Displays nothing */
    }
}

@media screen and (max-width: 775px){
    table td:before {
        position: relative; /* Position is relative to previous position */
    }
}

